input[type=radio] {
    display: none;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

.carousel-container {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 30%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#sermon0:checked ~ .cards #card2,
#sermon1:checked ~ .cards #card0,
#sermon2:checked ~ .cards #card1 {
    transform: translatex(-60%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#sermon0:checked ~ .cards #card1,
#sermon1:checked ~ .cards #card2,
#sermon2:checked ~ .cards #card0 {
    transform: translatex(60%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#sermon0:checked ~ .cards #card0,
#sermon1:checked ~ .cards #card1,
#sermon2:checked ~ .cards #card2 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

