@font-face {
    font-family: "myfont";
    src: url("../fonts/SandalsType.woff") format('woff');
}

body {
    background-color: black;
}
#page-title {
    font-family: myfont, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

#sermon-video, #image_hd {
    height: 30%;
    width: 60%;
}
